*, *:before, *:after {
  box-sizing: border-box;
}

body {
    text-align: center;
    /* background-color: #ccf2ff; */
    padding-top: 170px;
    padding-bottom: 0px;
    margin: 0px;
    /* margin-bottom: 60px; */
    font-family: 'Candara';
    align-items: center;
    align-content: center;
  }

header {
  position: fixed;
  /* background-color: rgba(); */
  background-image: url('img/book_cover.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  color: rgb(31, 49, 31);
  width: 100%;
  top: 0;
  left: 0;
  padding: 0;
  z-index: 1000;
  height: 170px;
  box-sizing: border-box;
  border-bottom: 2px solid black;
  /* transition: height 0.3s ease; Smooth transition */
}

header h1 {
  padding-top: 25px;
  padding-bottom: 25px;
  color: rgb(173, 37, 37);
  text-shadow: 2px 2px 5px white;
}

header.minimized {
  height: 50px;
  padding: 0;
}

header .minimized-content {
  opacity: 1;
}

header.minimized .minimized-content {
  display: none;
}

h1 {
  font-size: 60px;
  margin: 0px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 20px;
}

a {
  font-size: 20px;
  color: black;
}

p {
  font-size: 15px;
  /* color: white; */
}

span {
  text-align: left;
}

hr {
  width:  90%;
  border: none;
  border-top: 3px double black;
}

button {
  cursor: pointer;
  position: relative;
  background-color: rgb(244, 223, 91);
  border-radius: 5px;
  font-size: 15px;
  font-family: 'Segoe UI';
  margin: 5px;
}

button:hover {
  background-color: rgb(255, 250, 214);
}

#selected-book-assignments button {
  background-color: rgb(55, 169, 55);
}

#selected-book-assignments button:hover {
  background-color: rgb(194, 217, 194);
}

form {
  display: grid;
  width: 60%;
}

#home{
  left: 0px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: calc(100vh - 190px);
  width: 100%;
  align-items: center;
  box-sizing: border-box;
}

#home img {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

header.minimized .tab-names {
  display: flex; 
}

.tab-names {
  display: flex;
  justify-content: center;
  background-color: rgba(61, 155, 183, .8);
}

.tab-names h2 {
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 0px;
  margin-bottom: 0px;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.tab-names h2.active-tab {
  text-decoration: overline;
  /* color: rgb(31, 49, 31); */
}

.tab-names h2:hover {
  text-decoration: overline;
  color: rgb(228, 170, 170);
  zoom: 110%;
}

.tab-content {
  display: none;
}

.tab-content.active-tab {
  display: block;
}

.book-info {
  position: relative;
  height: 90%;
  cursor: pointer;
  background-color: white;
  overflow: hidden;
}

.book-info img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 150px;
  width: 120px;
  margin-top: auto;
  object-fit: cover;
  bottom: 0px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  color: white; /* Text color */
  opacity: 0; /* Initially hide the overlay */
  transition: opacity 0.3s ease; /* Smooth transition */
}

.book-info:hover .overlay {
  opacity: 1; /* Show the overlay on hover */
  /* zoom: 120%; */
}

.book-listing:hover {
  zoom: 120%;
}

#all-books {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  justify-content: center;
}

.book-listing {
  flex: 0 0 200px;
  margin: 10px;
  padding: 0px;
  height: 300px;
  width: 200px;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.7);
  justify-content: space-between;
}

.book-info h2 {
  font-size: 18px;
}

select {
  padding: 5px;
  margin: 20px;
  width: 40%;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.7);
}

select:hover {
  background-color: rgb(252, 220, 173);
}

#add-assignment, #edit-assignment {
  justify-items: center;
}

#add-assignment {
  background-color: rgb(55, 169, 55);
}

#edit-assignment, #edit-grading {
  background-color: rgb(244, 223, 91); 
}


#new-assignment-descr, #edit-assignment-descr, #edit-comments, #proj-detail-description {
  height: 100px;
  /* text-align: top-right; */
}

.hidden {
  display: none;
}

#curriculum-books {
  position: relative;
  z-index: 10;
  display: inline-flex;
  width: 100%;
  overflow-x: auto; /* Adds a horizontal scrollbar when needed */
}

label, .label {
  width: 120px; /* Set a fixed width for the label */
  margin-right: 10px; /* Space between label and input */
  font-weight: bold;
  text-align: right; /* Aligns text to the right within label */
}

input[type="text"],
input[type="date"], 
textarea,
span {
  width: 100%; /* Makes input fields take up the remaining space */
  padding: 5px;
  box-sizing: border-box;
}

input[type="text"],
input[type="date"],
textarea {
  border: 1px solid gray;
  border-radius: 4px;
}

.edit-mode input[type="text"],
.edit-mode input[type="date"],
.edit-mode textarea {
  width: 100%; /* Makes input fields take up the remaining space */
  padding: 5px;
  border: 2px solid #007bff;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: auto;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#featured-book {
  display: flex;
  justify-content: center;
  background-color: white;
}

#featured-book.hidden {
  display: none;
}

table, th, td {
  border: .5px solid black;
  color: black;
  background-color: white;
  position: relative;
  font: 'Calibri';
}

table th {
  background-color:rgb(33, 93, 104);
  color: white;
}

table {
  border-collapse: collapse;
  font-family: 'Calibri';
  box-shadow: 2px 2px 5px black;
}

#selected-book-assignments {
  margin: 5%;
  width: 100%;
}

#featured-book, #edit-assignment, #add-assignment, #curriculum-books, 
#all-books, #assignment-grades, #edit-grading, #student-assignments{
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
}

#featured-book .book-listing {
  margin-left: 50px;
}

#assignment-detail {
  width: 100%;
  max-width: 600px;
}

#assignment-detail-dates, .student-detail {
  color: rgb(144, 27, 27);
  display: block;
}

#assignment-detail-descr {
  font-style: italic;
}

.edit-column {
  cursor: pointer;
}

.edit-column:hover {
  color: red;
}

#assignment-grades, #student-assignments, #edit-grading {
  justify-content: center;
  justify-items: center;
}

.bookfinder-nav {
  width: 100%;
  display: flex;
}

.bookfinder-search {
  display: flex;
  gap: 10px;
  padding-top: 7px;
  padding-bottom: 10px;
}

.bookfinder-form {
  color: white;
  margin: 10px;
  display: inline-grid;
  width: 70%
}

.bookfinder-form label {
  all: unset; /* reset all styling to default */
}

.bookfinder-dropzone {
  background-color: white; 
  color: black;
  height: 125px; 
  margin: 10px;
  padding: 10px;
  display: inline-grid;
  width: 30%;
}

.active-row td{
  font-weight: bold;
  background-color: rgb(252, 220, 173);
}

#curriculum-books, #all-books {
  background-color: rgb(173, 37, 37);
}

#featured-book, #assignment-grades, #student-assignments {
  background-color: rgb(122, 190, 202);
}

#grading table {
  width: 100%;
  max-width: 600px;
}

#students table {
  width: 100%;
  max-width: 1000px;
}

#selected-book-assignments table {
  width: 100%;
  max-width: 1000px;
}

#add-dropzone {
  border: 2px dashed rgb(189, 186, 186);
}

#add-dropzone span{
  color: rgb(189, 186, 186);
  font-size: 30px;
  text-align: center;
}

#add-dropzone:hover {
  background-color: grey;
}